   <aside class="col-lg-3 col-md-4">
          <div class="sidebar-nav card mb-4">
            <div class="card-header">
              Categories
            </div>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'products:products' %}">All Products</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" aria-current="page"  href="{% url 'products:new_arrivals' %}">New Arrivals</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'products:trending' %}">Trending Perfumes</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Combo Deals
                </a>
                <ul class="dropdown-menu" aria-labelledby="Dropdown">
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="Combo for him" %}">Combo for Him</a></li>
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="Combo for her" %}">Combo for Her</a></li>
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="Unisex Combo" %}">Unisex Combo</a></li>
                 </ul>
              </li>
               <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'products:filter_by_category' category_name="Men" %}">Men</a>
              </li>
               <li class="nav-item">
                <a class="nav-link " aria-current="page" href="{% url 'products:filter_by_category' category_name="Women" %}">Women</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id= "Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Kids
                </a>
                <ul class="dropdown-menu" aria-labelledby="electronicsDropdown">
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="Kids Perfume" %}">Perfume</a></li>
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="Kids BodySpray" %}">BodySpray</a></li>
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="Baby Care" %}">BabyCare</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id= "Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Perfume
                </a>
                <ul class="dropdown-menu" aria-labelledby="Dropdown">
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="Eau de parfum" %}">Eau De Parfum (EDP)</a></li>
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="eau de collogne" %}">Eau De Cologne (EDC)</a></li>
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="eau de toillette" %}">Eau De Toilette (EDT)</a></li>
                  {% comment %} <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="Unisex Combo" %}">Extrait De Parfum (EPD)</a></li>  {% endcomment %}
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="perfume oil" %}">Parfum Oil</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products:filter_by_category' category_name="Miniatures" %}">Miniatures</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Aromatherapy
                </a>
                <ul class="dropdown-menu" aria-labelledby="Dropdown">
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="scented candles" %}">Scented Candles</a></li>
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="humidifiers" %}">Humidifiers</a></li>
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="diffusers" %}">Diffusers</a></li>
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="essential oil" %}">Essential Oils</a></li>
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="car diffusers" %}">Car Diffusers</a></li>
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="others" %}">Others</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 BodySpray
                </a>
                <ul class="dropdown-menu" aria-labelledby="Dropdown">
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="mini" %}">Mini BodySpray</a></li>
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="200ml" %}">200ML BodySpray</a></li>
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="150ml" %}">150ML BodySpray</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 BodyMist
                </a>
                <ul class="dropdown-menu" aria-labelledby="Dropdown">
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="Mini Body Mist" %}">Mini BodyMist</a></li>
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="236ML BodyMist" %}">236ML BodyMist</a></li>
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="150ML BodyMist" %}">150ML BodyMist</a></li>
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="Other Body Mist" %}">Others</a></li>
                </ul>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="{% url 'products:filter_by_category' category_name="Antiperspirant and Deodorants" %}">Antiperspirant & Deodorants</a>
              </li>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="{% url 'products:filter_by_category' category_name="Selfcare essentials" %}">Selfcare Essential</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Thoughtful Gifting
                </a>
                <ul class="dropdown-menu" aria-labelledby="Dropdown">
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="Gift for him" %}">Gift for Him</a></li>
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="Gift for her" %}">Gift for Her</a></li>
                  <li><a class="dropdown-item" href="{% url 'products:filter_by_subcategory' subcategory_name="Gift below 30k" %}">Gift below 30K</a></li>
                 </ul>
              </li> 
            </ul>
          </div>
         </aside>