   <aside class="col-lg-3 col-md-4">
          <div class="sidebar-nav card mb-4">
            <div class="card-header">
              Categories
            </div>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'products:products' %}">All Products</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" aria-current="page"  href="#">New Arrivals</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Trending Perfumes</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Combo Deals
                </a>
                <ul class="dropdown-menu" aria-labelledby="Dropdown">
                  <li><a class="dropdown-item" href="#">Combo for </a></li>
                  <li><a class="dropdown-item" href="#">Combo for Her</a></li>
                  <li><a class="dropdown-item" href="#">Unisex Combo</a></li>
                 </ul>
              </li>
               <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Men</a>
              </li>
               <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#">Women</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id= "Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Kids
                </a>
                <ul class="dropdown-menu" aria-labelledby="electronicsDropdown">
                  <li><a class="dropdown-item" href="#">Perfume</a></li>
                  <li><a class="dropdown-item" href="#">BodySpray</a></li>
                  <li><a class="dropdown-item" href="#">BabyCare</a></li>
                </ul>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id= "Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Unisex
                </a>
                <ul class="dropdown-menu" aria-labelledby="Dropdown">
                  <li><a class="dropdown-item" href="#">Perfume</a></li>
                  <li><a class="dropdown-item" href="#">BodySpray</a></li>
                  <li><a class="dropdown-item" href="#">BodyMist</a></li>
                  <li><a class="dropdown-item" href="#">Perfumeoil</a></li>

                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id= "Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Perfume
                </a>
                <ul class="dropdown-menu" aria-labelledby="Dropdown">
                  <li><a class="dropdown-item" href="#">Eau De Parfum (EDP)</a></li>
                  <li><a class="dropdown-item" href="#">Eau De Cologne (EDC)</a></li>
                  <li><a class="dropdown-item" href="#">Eau De Toilette (EDT)</a></li>
                  <li><a class="dropdown-item" href="#">Extrait De Parfum (EPD)</a></li> 
                  <li><a class="dropdown-item" href="#">Parfum Oil</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Miniatures</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Aromatherapy
                </a>
                <ul class="dropdown-menu" aria-labelledby="Dropdown">
                  <li><a class="dropdown-item" href="#">Scented Candles</a></li>
                  <li><a class="dropdown-item" href="#">Humidifiers</a></li>
                  <li><a class="dropdown-item" href="#">Diffusers</a></li>
                  <li><a class="dropdown-item" href="#">Essential Oils</a></li>
                  <li><a class="dropdown-item" href="#">Car Diffusers</a></li>
                  <li><a class="dropdown-item" href="#">Others</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 BodySpray
                </a>
                <ul class="dropdown-menu" aria-labelledby="Dropdown">
                  <li><a class="dropdown-item" href="#">Mini BodySpray</a></li>
                  <li><a class="dropdown-item" href="#">200ML BodySpray</a></li>
                  <li><a class="dropdown-item" href="#">150ML BodySpray</a></li>
                   <li><a class="dropdown-item" href="#">Others</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 BodyMist
                </a>
                <ul class="dropdown-menu" aria-labelledby="Dropdown">
                  <li><a class="dropdown-item" href="#">Mini BodyMist</a></li>
                  <li><a class="dropdown-item" href="#">236ML BodyMist</a></li>
                  <li><a class="dropdown-item" href="#">150ML BodyMist</a></li>
                  <li><a class="dropdown-item" href="#">Others</a></li>
                </ul>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="#">Antiperspirant & Deodorants</a>
              </li>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="#">Selfcare Essential</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Thoughtful Gifting
                </a>
                <ul class="dropdown-menu" aria-labelledby="Dropdown">
                  <li><a class="dropdown-item" href="#">Gift for Him</a></li>
                  <li><a class="dropdown-item" href="#">Gift for Her</a></li>
                  <li><a class="dropdown-item" href="#">Gift below 30K</a></li>
                 </ul>
              </li> 
            </ul>
          </div>
         </aside>